<div class="md:grid md:grid-cols-[1fr_0.5fr] w-full">
  <!-- Video Section -->
  <div>
    <video
      class="w-full h-full object-cover border-b border-b-secondary"
      autoplay
      loop
      muted
    >
      <source src="/videos/home.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- Top News Section -->
  <div>
    <div
      *ngIf="topStories$ | async as topStories"
      class="grid grid-rows-2 grid-cols-1 h-full"
    >
      <!-- First Top Story -->
      <div
        *ngIf="topStories.length > 0"
        class="border-b border-b-secondary p-4 flex flex-col justify-between cursor-pointer"
        #topCard
      >
        <p class="text-xs">{{ topStories[0].item_type }}</p>
        <h4 class="line-clamp-3">{{ topStories[0].title }}</h4>
        <p class="text-xs text-right">
          {{ topStories[0].published_date | date : "dd/MM/yyyy" }}
        </p>
      </div>

      <!-- Second Top Story -->
      <div
        *ngIf="topStories.length > 1"
        class="border-b border-b-secondary p-4 flex flex-col justify-between cursor-pointer"
        #topCard
      >
        <p class="text-xs">{{ topStories[1].item_type }}</p>
        <h4 class="line-clamp-3">{{ topStories[1].title }}</h4>
        <p class="text-xs text-right">
          {{ topStories[1].published_date | date : "dd/MM/yyyy" }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Marquee Section (Separate from Grid) -->
<div
  class="w-full flex items-center bg-primary text-white overflow-hidden border-b border-b-secondary p-2"
>
  <div #marqueeText class="whitespace-nowrap flex">
    <span
      *ngFor="let news of topStories$ | async"
      class="text-lg lg:text-2xl flex align-middle gap-4 justify-between"
    >
      {{ news.title }}
      <span class="material-symbols-outlined"> arrow_right </span>
    </span>
  </div>
</div>
